
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4 class="page-head-line">Data Upload</h4>
            </div>
        </div>
        <div class="row">
             <div class="col-md-12 col-sm-12 col-xs-12">
                <div style="text-align:center;position: relative">
                    <div id="upload-area">
                        <div id="file_noselected">
                            <span class="fa fa-cloud-upload"></span><span>{{fileName}}</span>
                        </div>
                        <div id="file_selected">
                        </div>
                    </div>
                    <input type="file" id="file-upload" name="file" (change)="fileInfo($event)">
                </div>
                <div style="text-align:center">
                    <div id="upload_button" (click)="upLoadFile()">Upload File</div>
                </div>
            </div>
        </div>
    </div>


